---
layout: default
title: Home
---


<section class="container">
    <div class="content">
        <h2>Our Proven 3 Step Process</h2>
        <ol>
            <li><strong>Dethatch Lawn</strong> - Removes matted grass and prepares the lawn for planting, allowing for thicker growth.</li>
            <li><strong>Planting</strong> - Our golf course quality equipment plants seed directly into the ground at precise depth to ensure superior germination rate.</li>
            <li><strong>Fertilizer & Weed Preventer Application</strong> - Supplies new grass with nutrients needed to grow and helps prevent Crabgrass and summer weeds.</li>
        </ol>
        <p><strong>We provide free weed spot treatment the first year ensuring your new lawn remains weed-free all summer long.</strong></p>
        <div class="content-divider">
            <p><em>Satisfaction guaranteed or your money back!</em></p>
        </div>

        <div class="content-divider">
            <h3>Book today for 15% off your first service!</h3>
        </div>
        
        <h3 class="services">Services</h3>
        <table class="services-table">
            <tr>
                <td>• Spring Seeding</td>
                <td>• Fall Seeding</td>
            </tr>
            <tr>
                <td>• Spot Seeding</td>
                <td>• Lawn Dethatching</td>
            </tr>
        </table>


        <div class="content-divider-top">
            <p>Call us: <strong><a class="phone-contact-b" href="tel:+17407290520">740-729-0520</a></strong></p>
        </div>
    </div>

    {% include quote-form.html %}
</section>

{% include footer.html %}