<header class="site-header">
    <div class="header-container">
        <div class="logo">
            <img src="/assets/images/SVG Vector Files/Original Logo.svg" alt="Frailey Lawn Renewal Logo">
        </div>
        <div class="contact-info">
            <div class="phone-contact">
                <span class="phone-icon"><img src="/assets/images/Phone-Icon.svg"></span>
                <p><strong><a href="tel:+17407290520">740-729-0520</a></strong></p>
            </div>
            
            <p class="tagline"><em>"Grow a Thicker, Greener, Healthier Lawn with Frailey Lawn Renewal!"</em></p>
        </div>
    </div>
</header>
